body {
    font-family: 'Hack Nerd Font', monospace;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    padding: 20px;
    font-size: 24px;
}
nav {
    padding: 10px;
    background: #1e1e1e99;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover{
    transform: scale(1.05);
}
.parallax-background {
    position: fixed;
    opacity: 20%;
    filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.content {
    position: relative;
    padding: 100px 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background: #1e1e1e99;
    padding: 20px;
    border-radius: 10px;
}
.project-card-link{
    display: block;
    text-decoration: none;
    color: inherit;
}
.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.5); /* Soft glow */
}
.project-card:hover{
    transform: scale(1.02);
}
section {
    padding: 40px 20px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 5px;
}
a {
    color: #4a90e2;
}